/* Earth */

/* Color Palatte: http://www.colourlovers.com/palette/1938863/Dreamers */
@import url("../../../base/library/css/default.css");

/* GLOBALS */
body { background-color: #827666; }
#page, #topaccess ul ul, #leftaccess ul ul, #rightaccess ul ul { border: 1px solid #ccc; background-color: #fff; -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1); -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1); box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .1); }

/* FONTS */
a { color:#CF0D16; }
a:hover { color: #222; }

/* TITLES */
.page-title { border-top: 1px solid #C9BCB4; border-bottom: 1px solid #C9BCB4; color: #827666; background: #DBD8C7 }
.entry-title, #homewidget h3 { background-image:url(../../images/lines.png); background-repeat: repeat-x; }
.entry-title { background-position: 0 70% }
#homewidget h3 { background-position: 0 50% }
.entry-title span, .sub span, #homewidget h3 span { background: #fff; }
.search .entry-title { background: transparent }

/* MENU */
div.menu ul li a,div.menu ul li li:first-child a,div.menu ul li li:last-child a { color: #ec6d4d; }
#topaccess ul li a { color:#DBD8C7; }
#topaccess ul ul li a { color:#827666; }
#topaccess ul li a:hover, #topaccess ul li.current-menu-item a { color: #fff; }
#topaccess ul ul li a,  #topaccess ul ul li.current-menu-item a { color: #827666 }
#topaccess ul li:hover > ul a:hover, #topaccess ul li:hover > ul a:hover, #leftaccess a:hover, #rightaccess a:hover, #leftaccess ul li:hover,  #rightaccess ul li:hover { color: #222; }
#topaccess ul ul li a:hover, #leftaccess ul ul li:hover,  #rightaccess ul ul li:hover { background-color: #ededed }
#leftaccess a,  #rightaccess a { color: #827666 }


/* FOOTER */
#footer-wrap { background:url(../../images/bg/paper.jpg) repeat top center; border-top: none; }
#footer-widgets { text-shadow:1px 1px 1px #fff; }
#footer-widgets h3.widget-title { color:#444; }
#footer-widgets, #footer-widgets a { color:#333; }
#footer-widgets a:hover { color:#222; }
#below_footer { border-top: 1px solid #eee; color:#444; }
#below_footer a { color:#333; }
#below_footer a:hover { color:#222; text-decoration: underline; }

/*  COMMENTS  */
#commentform #submit { background: none repeat scroll 0 0 #3D3D3D;color: #F9F9F9; }
#commentform #submit:hover {background:#4d4d4d;}
h3#comments-title {border-bottom: 1px solid #DDDDDD;color: #3D3D3D; }
ol.commentlist li div.reply a  { background: none repeat scroll 0 0 #2D2D2D;color: #F9F9F9; }
ol.commentlist li div.reply a:hover {background: #3D3D3D;color:#ffffff;}

/* MISC */
#s {border: 1px solid #A1A1A1;}
.nav-next a, .nav-previous a { color: #4d4d4d; }
.nav-next a:hover, .nav-previous a:hover {color:#6f6f6f;}